.main {
  max-width: 1600px;
  margin: 0 auto;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.cars {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-right: 20%;
}


.h2 {
  margin-bottom: 20px;
}

.block {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,.05);
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  padding: 32px;
  width: 500px;
  font-weight: 500;
  font-size: 20px;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.3);
  align-items: center;
}

.block-header {
  margin-bottom: 15px;
}


.block header {
  text-align: center;
}

.header-number{
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 20px
}


.fuelings{
  display: flex;
  align-items: center;
  gap: 50px;

}

.panel {
  width: 20%;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 25px;
  position: fixed;
  right: 25px;
  display: flex;
  flex-direction: column;
}


.header-panel{
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.desc-panel{
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.input {
  display: flex;
  font-size: 20px;
  height: 40px;
  padding: 0 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number{
  display: flex;
  align-items: center;
  gap: 3px;

}

.image {
  width: 400px;
  height: 200px;
  display: block;
  margin-bottom: 10px;
}

.license-plate{
  display: flex;
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-size: 30px;
  letter-spacing: 4px;
  justify-content: space-around;
}

.number {
  font-size: 20px;
  font-weight: bold;
}